<a href="https://colab.research.google.com/github/thousandoaks/Python4DS101/blob/master/Welcome_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to pandas

**Learning Objectives:**
  * Gain an introduction to the `DataFrame` data structure of the *pandas* library
  * Access and manipulate data within a `DataFrame`
  * Import CSV data into a *pandas* `DataFrame`

[*pandas*](http://pandas.pydata.org/) is a column-oriented data analysis API. It's a great tool for handling and analyzing input data, and many ML frameworks support *pandas* data structures as inputs.
Although a comprehensive introduction to the *pandas* API would span many pages, the core concepts are fairly straightforward, and we'll present them below. For a more complete reference, the [*pandas* docs site](http://pandas.pydata.org/pandas-docs/stable/index.html) contains extensive documentation and many tutorials.

## Basic Operation: Library import

The following line imports the *pandas* library

In [1]:
import pandas as pd

## Basic Operation: Data loading and DataFrame creation

Most of the time, you load an entire file into a `DataFrame`. The following example loads a file with California housing data. Run the following cell to load the data and create your first `DataFrame`

In [4]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

A useful function is `DataFrame.head`, which displays the first few records of a `DataFrame`:

In [ ]:
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

## Basic Operation: Column selection

Most of the time, you will need to select specific columns from your  `DataFrame`. The following example selects some columns from the  California housing data.

In [5]:
california_housing_dataframe['total_rooms']

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

You can also select several columns at the same time as shown in the next cell

In [6]:
california_housing_dataframe[['housing_median_age','total_rooms']]

       housing_median_age  total_rooms
0                    15.0       5612.0
1                    19.0       7650.0
2                    17.0        720.0
3                    14.0       1501.0
4                    20.0       1454.0
...                   ...          ...
16995                52.0       2217.0
16996                36.0       2349.0
16997                17.0       2677.0
16998                19.0       2672.0
16999                52.0       1820.0

[17000 rows x 2 columns]